[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rebekkaa
[access "refs/for/refs/*"]
	read = group user/rebekkaa
	push = group user/rebekkaa
	label-Code-Review = -2..+2 group user/rebekkaa
	label-Verified = -1..+1 group user/rebekkaa
	rebase = group user/rebekkaa
	removeReviewer = group user/rebekkaa
	submit = group user/rebekkaa
[access "refs/heads/*"]
	read = group user/rebekkaa
	create = group user/rebekkaa
	push = +force group user/rebekkaa
	pushMerge = group user/rebekkaa
[access "refs/tags/*"]
	push = group user/rebekkaa
	push = +force group user/rebekkaa
