[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group regot
	owner = group user/rebekkaa (rebekkaa)
[access "refs/for/refs/*"]
	read = group regot
	read = group user/rebekkaa (rebekkaa)
	push = group regot
	push = group user/rebekkaa (rebekkaa)
	label-Code-Review = -2..+2 group regot
	label-Code-Review = -2..+2 group user/rebekkaa (rebekkaa)
	label-Verified = -1..+1 group regot
	label-Verified = -1..+1 group user/rebekkaa (rebekkaa)
	rebase = group regot
	rebase = group user/rebekkaa (rebekkaa)
	removeReviewer = group regot
	removeReviewer = group user/rebekkaa (rebekkaa)
	submit = group regot
	submit = group user/rebekkaa (rebekkaa)
[access "refs/heads/*"]
	read = group regot
	read = group user/rebekkaa (rebekkaa)
	create = group regot
	create = group user/rebekkaa (rebekkaa)
	push = group regot
	push = +force group user/rebekkaa (rebekkaa)
	pushMerge = group regot
	pushMerge = group user/rebekkaa (rebekkaa)
[access "refs/tags/*"]
	push = group regot
	push = group user/rebekkaa (rebekkaa)
	push = +force group user/rebekkaa (rebekkaa)
